    @using BApp.Components.PaletteExtractor
    @using BApp.Domain.Models


<div class="modal" style="display:@(IsVisible ? "block" : "none")">
    <div class="modal-content">
        <span class="close" @onclick="Close">&times;</span>
        <div class="modal-header">
            <h2>COLOR DETAILS</h2>
            <p>Date: @UserColor.SavingDate, HEX:@UserColor.ColorHexValue</p>
        </div>
        <div class="modal-body">

            <ColorExtension ColorHex="@UserColor.ColorHexValue" />
            <PaletteExtension ColorHex="@UserColor.ColorHexValue" />
        </div>
    </div>
</div>


@code {
    [Parameter]
    public UserColor UserColor { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private void Close()
    {
        OnClose.InvokeAsync();
    }
}