.description-card-container{
    padding:6rem;

}

.description-card {
    background-color: #FACD75;
    border: 1px solid black;
    box-shadow: 32px 32px #F70746;
    padding: 20px;
    text-align: left;
    width: calc(33.33% - 20px); /* Adjust width as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
}

.title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
}

.description {
    font-family:'Khand';
    font-size: 18px;
    margin:10px 0px;
}

/* LandingPage.razor.css */
.custom-button {
    background-color: #FF3D70;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Adjust margin as needed */
}
