@page "/counter"

@using BApp.Components.Utils
@using BApp.Domain.Models
@using BApp.Services.Interfaces
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt

@inject IUserColorService UserColorService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider
@inject ILocalStorageService LocalStorage

<div class="container">
@*     <div class="user-info-container">
        <div>Total discovered: 25 </div>
        <div>Total xp: 150.000</div>
    </div> *@
    <div class="list-container">
        <div class="row">
            @foreach (var userColor in _userColorList)
            {
                <div class="col-md-3 mb-5 py-3">
                    <ListItem Color="listItem" @* OnClick="ShowItemDetails(listItem) *@" />
                </div>
            }
        </div>
    </div>

   @*  <DetailsModal SelectedItem="SelectedItem" OnClose="CloseModal" /> *@

</div>


@code {

    private int _userId { get; set; }

    private List<UserColor> _userColorList { get; set; } = new List<UserColor>();

    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorage.GetItemAsync<string>("token");

        if (token != null)
        {
            await authStateProvider.GetAuthenticationStateAsync();

            var jwt = new JwtSecurityTokenHandler().ReadJwtToken(token);
            _userId = int.Parse(jwt.Claims.First(c => c.Type == "Id").Value);
        }
    }

    private async Task GetUserColors()
    {
        _userColorList = await UserColorService.GetUserColorsByUserId(_userId);
    }

    // private void ShowItemDetails(ListItemModel item)
    // {
    //     SelectedItem = item;
    // }

    // private void CloseModal()
    // {
    //     SelectedItem = null;
    // }
}
