
.container {
    height: 80vh;
    padding:0rem;
}
/* List Container */
.list-container {
    /* padding: 2rem 5rem;*/
    height: 100%;
}

/* Card Styling */
.card {
    background-color: #a0c4ff; /* Matching blue pastel color */
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    height: inherit;
}

/* List Item Styling */
.list-item-container {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-color: #c6f5ff; /* Light blue pastel background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

    .list-item-container:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

.upper-section .color {
    height: 100px;
    border-bottom: 5px solid white;
}

.lower-section {
    padding: 10px;
    background-color: white;
    text-align: center;
}

    .lower-section .color-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .lower-section .xp {
        font-weight: bold;
        color: #ff9800;
        font-size: 1.2em;
    }

.row > * {
    padding-right: calc(var(--bs-gutter-x)* 1.5)!important;
    padding-left: calc(var(--bs-gutter-x)* 1.5)!important;
}
