.list-item-container {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

    .list-item-container:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

.upper-section .color {
    height: 100px;
    border-bottom: 5px solid white;
}

.lower-section {
    padding: 10px;
    background-color: white;
    text-align: center;
}

    .lower-section .color-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .lower-section .xp {
        font-weight: bold;
        color: #ff9800;
        font-size: 1.2em;
    }
