.login-fields-container {
    height: 100%;
}

::deep .login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    padding: 3rem 0rem;
}

.login-submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-account {
    font-size: 12px;
    padding: 0rem 0.75rem;
}

.signup-button {
    border: none;
    background: transparent;
    color: #F6775B;
}

.input-container {
    padding: 2rem;
    margin: 0.5rem;
}

::deep .custom-input {
    width: 25vw;
    height: 8vh;
    display: block;
    border: none;
    border-radius: 3px;
    padding: 8px 40px 8px 20px;
    background-color: #EAEAEA;
    opacity: 0.6;
}

    ::deep .custom-input:focus-visible {
        outline: none;
    }