@page "/"

@using BApp.Components
@using BApp.Components.InputFields
@using BApp.Domain.DTOs
@using BApp.Domain.Models
@using BApp.Services
@using BApp.Services.Interfaces
@using BApp.Components.Utils

@inject IUserService UserService
@inject NavigationManager NavigationManager

@layout LogInLayout

<CustomPopup @ref="successPopup" Title="Success" Visible="@showSuccessPopup" OnClose="HideSuccessPopup">
    <p>Sign up operation was successful.</p>
    <button @onclick="RedirectToLoginPage">Login</button>
</CustomPopup>


<div class="signup-fields-container">
    <EditForm class="signup-form" Model="SignUpModel" FormName="SignUpForm" OnValidSubmit="HandleSignUp">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="user-details-container">
            <div class="first-column">
                <InputTextComponent Label="First Name" InputType="text" Value=@SignUpModel.FirstName />
                <InputTextComponent Label="Last Name" InputType="text" Value=@SignUpModel.LastName />
                <InputTextComponent Label="Username" InputType="text" Value=@SignUpModel.Username />
            </div>

            <div class="second-column">
                <InputTextComponent Label="Email" InputType="email" Value=@SignUpModel.Email />
                <InputTextComponent Label="Password" InputType="password" Value=@SignUpModel.Password />
                <InputTextComponent Label="Confirm Password" InputType="password" Value=@SignUpModel.ConfirmPassword />
            </div>
        </div>

        <div class="signup-submit-container">
            <ButtonComponent CssClass="login signup" Label="Sign Up" ButtonType="submit" OnClick="HandleSignUp"/>
            <div class="already-signup">
                You already have an account?
                <button class="login-button" onclick="@RedirectToLoginPage"> Log In</button>
            </div>
        </div>

    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private SignUpDTO SignUpModel { get; set; } = new SignUpDTO();
    private CustomPopup successPopup { get; set; } = new CustomPopup();

    private bool showSuccessPopup = false;

    private async Task HandleSignUp()
    {
        try
        {
            await UserService.CreateUser(SignUpModel);
            showSuccessPopup = true;
        }
        catch (Exception ex)
        {

        }
    }

    private void RedirectToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void HideSuccessPopup()
    {
        showSuccessPopup = false;
    }
}