@page "/signup"

@using BApp.Components
@using BApp.Components.InputFields
@using BApp.Domain.DTOs
@using BApp.Domain.Models
@using BApp.Services

@layout LogInLayout

<div class="signup-fields-container">
    <EditForm class="signup-form" Model="SignUpModel" FormName="SignUpForm" OnValidSubmit="HandleSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="user-details-container">
            <div class="first-column">
                <InputTextComponent Label="First Name" InputType="text" Value=@SignUpModel.FirstName />
                <InputTextComponent Label="Last Name" InputType="text" Value=@SignUpModel.LastName />
                <InputTextComponent Label="Username" InputType="text" Value=@SignUpModel.Username />
            </div>

            <div class="second-column">
                <InputTextComponent Label="Email" InputType="email" Value=@SignUpModel.Email />
                <InputTextComponent Label="Password" InputType="password" Value=@SignUpModel.Password />
                <InputTextComponent Label="Confirm Password" InputType="password" Value=@SignUpModel.ConfirmPassword />
            </div>
        </div>

        <div class="signup-submit-container">
            <ButtonComponent CssClass="login signup" Label="Sign Up" ButtonType="submit" />
            <div class="already-signup">
                You already have an account?
                <button class="login-button" onclick="@RedirectToLoginPage"> Log In</button>
            </div>
        </div>

    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private SignUpDTO SignUpModel { get; set; } = new SignUpDTO();

    protected override void OnInitialized()
    {
    }

    private async Task HandleSubmit()
    {
        await UserService.CreateUser(SignUpModel);
    }

    private void RedirectToLoginPage()
    {

    }
}