@page "/weather"

@using BApp.Components
@using SixLabors.ImageSharp;
@using SixLabors.ImageSharp.Processing;

@inject IJSRuntime JSRuntime

<div class="scan-container">
    <div class="card">
        <div class="upload-image-grid-section">

            <div class="image-container">
                @if (!string.IsNullOrEmpty(_imageDataUrl))
                {
                    <img src="@_imageDataUrl" alt="Image Preview" id="preview" />
                }
                else
                {
                    <div>No Image Selected</div>
                }
            </div>

            <div class="custom-input-file">
                <InputFile OnChange="PreviewImage" accept=".png, .jpg, .jpeg" />
            </div>
        </div>

        <div class="toggle-grid-section">
            <div class="palette-container">
                <div class="pallete-color-selector">
                    @* here it's gonna be a section for palette selector, which will communicate with the image and will activate the buttons if needed *@
                </div>
                <div class="action-button-section">
                    <ButtonComponent CssClass="more-details-button" Label="More"/>
                    <ButtonComponent CssClass="save-color-button" Label="Save"/>
                </div>

            </div>
        </div>

        <div class="palette-grid-section"></div>

    </div>
</div>
