@page "/home"
@using BApp.Components.Home

@inject NavigationManager NavigationManager

<div class="home-page-container">
    <h1>Welcome, User!</h1>
    <div class="carousel-container">
        <Carousel />
    </div>
    <div class="user-stats-container">
        <div class="info-card">
            <h2>User XP</h2>
            <div class="progress-bar">
                <div class="progress" style="width: 50%;"></div>
            </div>
            <p>Current XP: 500 / 1000</p>
        </div>
        <div class="info-card">
            <h2>Last Color Found</h2>
            <p>#FF5733</p>
        </div>
        <div class="info-card">
            <h2>Most Difficult Color</h2>
            <p>#123456</p>
        </div>
        <div class="info-card">
            <h2>Current Strike</h2>
            <p>5 Colors</p>
        </div>
    </div>
@*     <div class="redirection-to-scanner" @onclick="RedirectToScanSection">
        <p>Go to Scanner</p>
    </div> *@
</div>

@code {
    private void RedirectToScanSection()
    {
        NavigationManager.NavigateTo("/scanner");
    }
}
