.landing-page {
    position:relative;
    top:0;
    height: 300vh;
    background: linear-gradient(to bottom, #92ADF9 0%, #98DCF9 50%, #9DD2F5 90%);
}

.clouds{
    position:absolute;
    height:2rem;
    z-index:2;
    background-image:url('../assets/clouds.png');
}

.first-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    height: auto;
    display: flex;
    flex-direction: column;
}

.third-section {
    height: 14%;
    display: flex;
    justify-content: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(146, 173, 249, 0.4);
    padding: 20px;
    text-align: center;
}

    .card h1 {
        font-size: 28px;
        font-weight: 600;
    }

    .card p {
        font-size: 18px;
    }

.down-arrow {
    /* Styles for down arrow */
    cursor: pointer;
}
