@page "/"

@using BApp.Components
@using BApp.Components.LandingPage

@inject NavigationManager NavigationManager

@layout PresentationLayout

<div class="landing-page">

    <div class="first-section">
        <div class="card">
            <h1>Welcome stranger to a new adventure</h1>
            <p>You are just in time to find out how we are and why we are here</p>
            <img src="down_arrow.png" alt="Down Arrow" class="down-arrow" @onclick="ScrollToNextSection" />
        </div>
    </div>
    @* <div class="clouds"/> *@
    <div class="second-section">
        <DescriptionCard TitleLabel="COLOR PICKER" DescriptionLabel="Upload your own images and find  the exact color you are loking for" Alignment="Left" />
        <DescriptionCard TitleLabel="COLOR PICKER" DescriptionLabel="Upload your own images and find  the exact color you are loking for" Alignment="Right" />
        <DescriptionCard TitleLabel="COLOR PICKER" DescriptionLabel="Upload your own images and find  the exact color you are loking for" Alignment="Left" />
    </div>

    <div class="third-section">
        <div class="button-container">
            <ButtonComponent Label="LETS GET STARTED" ButtonType="button" CssClass="landing" OnClick=@RedirectToSignUp/>
        </div>
    </div>
</div>

@code {
    private async Task ScrollToNextSection()
    {
        // Call JavaScript function to scroll to the next section
        //await JSRuntime.InvokeVoidAsync("scrollToNextSection");
    }

    private void RedirectToSignUp()
    {
        NavigationManager.NavigateTo("/signup");
    }
}
