.button-container {
    padding: 1rem;
    margin: 0.25rem;
}

.custom-button {
    border-radius: 3px;
    background-color: #92ADF9;
    color: black;
    border: none;
    height: 2.5rem;
    width: 8rem;
}

    .custom-button.clicked {
        background-color: #1e1e1e;
        color: white;
    }

    .custom-button.login {
        background-color: #e94560;
        height: 3.5rem;
        width: 10rem;
        padding-bottom: 0px !important;
        color: white;
    }

    .custom-button.landing {
        background-color: #FF3D70;
        color:white;
        height: 3.5rem;
        width: 10rem;
        padding-bottom: 0px !important;
        margin-left:4rem;
    }
