@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            <div class="card">
                @Body
            </div>
        </article>
    </main>
</div>
