.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #a0c4ff; /* Blue pastel, 1990s game color background */
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content {
    padding: 20px;
}
