/* Navbar Container */
.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ecf0f1;
}

/* Brand Section */
.navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

    .navbar-brand a {
        font-size: 1.75em;
        font-weight: bold;
        color: #ecf0f1;
        text-decoration: none;
    }

/* Links Section */
.navbar-links {
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

    .navbar-links a {
        margin: 0 10px;
        color: #ecf0f1;
        text-decoration: none;
        font-size: 1.2em;
        transition: color 0.3s;
    }

        .navbar-links a:hover {
            color: #3498db;
        }


/* User Info Section */
.navbar-user-info {
    display: flex;
    padding: 0.75rem;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.user-level, .user-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-badge, .points-badge {
    display: inline-block;
    background-color: #e94560;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
}

.user-avatar {
    padding: 0rem 1rem;
}

    .user-avatar img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

/* Login Button */
.login-button {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .login-button:hover {
        background-color: #2980b9;
    }

.dropdown {
    position: absolute;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 3px; /* Rounded corners */
    overflow: hidden; /* Ensure rounded corners are applied to children */
    animation: dropdown-animation 0.3s ease-out; /* Apply animation */
    transform-origin: top right; /* Animation origin */
}

@keyframes dropdown-animation {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    border-bottom: 1px solid #ddd;
}

    .dropdown li:last-child {
        border-bottom: none;
    }

.logout-button {
    display: block;
    width: 100%;
    padding: 10px 20px; /* Padding for better spacing */
    text-align: left;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #333; /* Text color */
    transition: background-color 0.3s ease; /* Smooth hover transition */
}
