<div class="progress-bar-container">

    <div class="text">
        <h1><i>Blazing Fast</i></h1>
        <h3>0.056 Mbps</h3>
        <p>sshhshsssszzzzzsssshhzzzeeeeeee</p>
    </div>

    <div class="loader-bar">
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-border"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
        <div class="block-meter"></div>
    </div>
</div>
